
<h1>Stores</h1>

<table>
  <thead>
    <tr>
      <th>Store name</th>
      <th>Number of products</th>
    </tr>
  </thead>

  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= store.name %></td>
        <td><%= store.products.count %></td>
        <td><%= link_to 'Show', store_path(store) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h1>Requests</h1>

<table>
  <thead>
    <tr>
     <th>Product name</th>
      <th>Quantity</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @stores.each do |store| %>
    <% store.requests.each do |request| %>
      <tr>
        <td> <%= request.product.title %></td>
        <td><%= request.quantity%></td>
        <td><%= request.status.name%></td>
        <%if request.status_id==1%>
    <td><%= link_to 'Confirm', confirm_status_path(request.id) %></td>
    <%end%>
     <%if request.status_id==2%>
    <td><%= link_to 'Delivered', deliver_status_path(request.id) %></td>
    <%end%>
      </tr>
      <%end%>
    <% end %>
  </tbody>
</table>

