
<h1>Stores</h1>

<table>
  <thead>
    <tr>
      <th>Store name</th>
      <th>Number of products</th>
    </tr>
  </thead>

  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= store.name %></td>
        <td><%= store.products.count %></td>
        <td><%= link_to 'Show', store_path(store) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>Order id</th>
      <th>User name</th>
      <th>Number of order requests</th>
      <th>Order status</th>
    </tr>
  </thead>

  <tbody>
    <% @stores.each do |store| %>
    <% store.orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.user.name %></td>
        <td><%= order.order_products.count %></td>
        <%if order.status_id==1%>
        <td style="color:gray;"><%= order.status.name%></td>
    <%end%>
     <%if order.status_id==2%>
        <td style="color:orange;"><%= order.status.name%></td>
    <%end%>
    <%if order.status_id==3%>
        <td style="color:green;"><%= order.status.name%></td>
    <%end%>
        <td><%= link_to 'Show', request_path(order) %></td>
      </tr>
    <% end %>
    <%end%>
  </tbody>
</table>
<br>
