<header id="wn__header" class="header__area header__absolute sticky__header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-6 col-lg-2">
        <div class="logo">
          <%= link_to root_path  do %>
            <%= image_tag "logo/logo1.png" , height: '80' %>
          <% end %>
        </div>
      </div>
      <div class="col-lg-8 d-none d-lg-block">
        <nav class="mainmenu__nav">
          <ul class="meninmenu d-flex justify-content-start">
            <li class="drop with--one--item"><a href="/">Home</a></li>
            <% if can? :read, Store%>
            <li class="drop"><%= link_to 'Store', stores_path %>
              <div class="megamenu dropdown">
                <ul class="item item01">
                <li><%= link_to 'Store', stores_path %></li>
                  <% if can? :create, Product %>
                  <li><%= link_to 'Create New Product', new_product_path %></li>
                  <% end %>
                </ul>
              </div>
            </li>
              <% end %>
            <li class="drop"> <%= link_to 'Products', products_path %>
              <div class="megamenu dropdown">
                <ul class="item item01">
                  <li> <%= link_to 'Products', products_path %>
                  <li><%= link_to 'Products Brands', products_by_brand_path %></li>
                  <li><%= link_to 'Products Categories', products_by_category_path %></li>
                </ul>
              </div>
            </li>
            <% if can? :read, Order%>
            <li class="drop with--one--item"><%= link_to 'Order', past_orders_path %></li>
            <% end %>
            </ul>
        </nav>
      </div>
      <div class="col-md-6 col-sm-6 col-6 col-lg-2">
        <ul class="header__sidebar__right d-flex justify-content-end align-items-center">
          <li class="shop_search"><a class="search__active" href="#"></a></li>
          <% if current_user && !current_user.seller?%>
          <li class="nav-item shopping__cart__icon" style="margin-right: 10px">
            <%= link_to shopping_cart_path do %>
            <%= image_tag 'icons/cart.png' %>
            <% end %>
          </li>
          <%end %>
          <li class="nav-item avatar">
            <%= render "shared/profile_menu" %>
            <% if current_user && current_user.avatar.attached?%>
              <%= image_tag current_user.avatar ,:class => "nav-link p-1 rounded-circle z-depth-0", style:"height: 50px; width: 50px; margin-top: 8px;" %>
            <%end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>