  <div class="shop__sidebar">
    <aside class="wedget__categories poroduct--cat">
      <h3 class="wedget__title">Product Categories</h3>
      <ul>
        <% @search.facet(:category_id).rows.each do |row| %>
        <li>
          <% if params[:category].blank? %>
            <%= link_to row.instance.name, params.to_unsafe_h.merge({ :category => row.value})%>
          <span>(<%= row.count %></span>)</li>
            <% else %>
            <strong><%= row.instance.name %></strong>
          <%= link_to "x" , :search => params[:search] , :brand => params[:brand], :store => params[:store] , :utf8 => params[:urf8] , :commit => params[:commit] %>
            <% end %>
        <% end %>
      </ul>
    </aside>
    <aside class="wedget__categories poroduct--cat">
      <h3 class="wedget__title">Product Brands</h3>
      <ul>
        <% @search.facet(:brand_id).rows.each do |row| %>
          <li>
            <% if params[:brand].blank? %>
              <%= link_to row.instance.name, params.to_unsafe_h.merge({ :brand => row.value})%>
              <span>(<%= row.count %></span>)</li>
            <% else %>
              <strong><%= row.instance.name %></strong>
              <%= link_to "x" , :search => params[:search] , :category => params[:category] , :store => params[:store] , :utf8 => params[:urf8] , :commit => params[:commit] %>
            <% end %>
        <% end %>
      </ul>
    </aside>
    <aside class="wedget__categories poroduct--cat">
      <h3 class="wedget__title">Product Sellers</h3>
      <ul>
        <% @search.facet(:store_id).rows.each do |row| %>
          <li>
            <% if params[:store].blank? %>
              <%= link_to row.instance.name, params.to_unsafe_h.merge({ :store => row.value})%>
              <span>(<%= row.count %></span>)</li>
            <% else %>
              <strong><%= row.instance.name %></strong>
              <%= link_to "x" , :search => params[:search] , :category => params[:category]  , :brand => params[:brand] , :utf8 => params[:urf8] , :commit => params[:commit]  %>
            <% end %>
        <% end %>
      </ul>
    </aside>
    <aside class="wedget__categories pro--range">
      <h3 class="wedget__title">Filter by price</h3>
      <div class="content-shopby">
        <div class="price_filter s-filter clear">
          <form action="#" method="GET">
            <div id="slider-range"></div>
            <div class="slider__range--output">
              <div class="price__output--wrap">
                <div class="price--output">
                  <span>Price :</span><input type="text" id="amount" readonly="">
                </div>
                <div class="price--filter">
                  <%= link_to "Filter" , params.to_unsafe_h.merge({}) , id: "filter"%>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </aside>
    </div>

  <script>

      $('#slider-range').slider({
          range: true,
          min: 1,
          max: 10000,
          values: [3000, 6000],
          slide: function(event, ui) {
              $('#amount').val('$' + ui.values[0] + ' - $' + ui.values[1]);
          }
      });
      $('#amount').val('$' + $('#slider-range').slider('values', 0) +
          " - $" + $('#slider-range').slider('values', 1));

      $('#filter').on('click', function () {
          this.href = this.href + "&min_price=" + $('#amount').val().split('-')[0].split("$")[1].trim() + "&max_price=" + $('#amount').val().split('-')[1].split("$")[1].trim();

      })


  </script>
